.askQuestion {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 1000px;
  background-color: #dcdcdc;
  padding: 30px;
}
.input-notes input{
  height: 240;
}
.register__textBox::placeholder{
  position: absolute;
  top: 0%;
}